# Retornando ao nosso Dataset lá do início

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from mpl_toolkits.mplot3d import Axes3D
from collections import Counter

In [7]:
bank = pd.read_csv('../data/bank-full.csv', sep=';')
banco = pd.read_csv('../data/bank-full.csv', sep=';')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

Se temos 20 variáveis que representando os dados (cada variável é uma dimensão), devemos usar as 20 variáveis para criar um modelo complexo mas que vai melhorar os nossos dados? E se tivermos 100 dimensões? 1000 dimensões? 

Então para melhorar um modelo precisamos apenas adicionar mais e mais dimensões (ou features)? Isso não facilitaria a nossa vida ao _treinarmos classificadores_? **Não**

Temos que tomar cuidado com uma coisa: **Curse of Dimensionality**. Isso pode levar problemas para classificadores não lineares como é o caso de redes neurais, decision trees e, para o nosso caso, knn.

![](../data/imgs/knn9.png)

![](../data/imgs/knn10.png)

Com o Curse of Dimensionality, eu preciso de cada vez mais dados de treino para representar um certo volume do meu dataset. Se eu não tenho como ter mais dados de treino, meus dados vão ficando cada vez mais esparsos dentro do meu espaço e se isso ocorre, no caso específico do kNN, pode dar uma **noção falsa** de distância e computar o kNN pode resultar em dados que não são realmente próximos.
Existem formas de atacar isso diretamente que serão vistas mais pra frente no curso, mas por hora, é apenas algo que devemos ficar atentos para evitar overfit de dados e levar em consideração esse tipo de situação até na hora de validarmos.

O kNN é um tipo de algoritmo que funciona bem quando o número de _features_ que usamos é baixo como consequência disso.

Obs: K-NN exige que todas as features sejam todas categóricas ou continuas. No caso de ter uma mistura de todas, as variáveis categoricas devem ser mapeadas para numéricas.

In [8]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [9]:
bank['job'] = bank.job.astype("category").cat.codes
bank['marital'] = bank.marital.astype("category").cat.codes
bank['education'] = bank.education.astype("category").cat.codes
bank['default'] = bank.default.astype("category").cat.codes
bank['housing'] = bank.housing.astype("category").cat.codes
bank['loan'] = bank.loan.astype("category").cat.codes
bank['contact'] = bank.contact.astype("category").cat.codes
bank['month'] = bank.month.astype("category").cat.codes
bank['poutcome'] = bank.poutcome.astype("category").cat.codes
bank['y'] = bank.y.astype("category").cat.codes

In [10]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

In [37]:
#create feature and target arrays
X = bank['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome']
y = bank["y"]

In [ ]:
#split into training and test set

In [ ]:
#fit the to the trainning data